body{
    background-color: #fbfbf2;
    text-align: center;
}
header{
    display: flex;
    align-items: center;
    height: 8vw;
    background-color: #cfd2cd;
}
.content{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    justify-content: space-evenly;
    align-content: center;
}
footer{
    height: 30vh;
    background-color: #cfd2cd;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    position: absolute;
    width: 100%;
}
header > *{
    padding-left: 2rem;
    color: black;
    width: fit-content  ;
    font-size: 2vw;
}
header > .logo{
    height: 100%;
    box-shadow: #cfd2cd;
    border-radius: 5%;
    /* padding: 1em; */
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
h1{
    color: 191918;
    display: flex;
    font-size: 5vw;
    font-family: 'Press Start 2P', cursive;
    justify-content: center; 
    margin: 3vw 0   ;
}
.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3vw;  
}
.box{
    display: flex;
    height: 20vw;
    width: 20vw;
    justify-self: center;
    align-items: center;
    border: 2vw solid #323230;
    border-radius: 3vw;
    -webkit-border-radius: 3vw;
    -moz-border-radius: 3vw;
    -ms-border-radius: 3vw;
    -o-border-radius: 3vw;
}
.r{
    background-color: red;
    justify-self: flex-end;
}
.b{
    background-color: blue;
    justify-self: flex-end;
}
.g{
    background-color: green;
    justify-self: flex-start;
}
.y{
    background-color: yellow;
    justify-self: flex-start;
}
.game-over {
    background-color: red;
    opacity: 0.8;
}
.pressed {
    box-shadow: 0 0 5vmax goldenrod !important;
    background-color: grey !important;
}
.bot-pressed {
    box-shadow: 0 0 3vmax darkorange!important;
    background-color: white!important;
}
.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .social-meida{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .social-media > icon{
    height: 1em;
    width: 1em;
    background-color: #000;
  }
  .social-media > * {
    /* background-color: ; */
    padding: 0vw 1vw;
    display: inline-flex;
    align-items: center;
    justify-content: center ;
  }
  .instruction{
    height: 50vh;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    font-size: 1vw;
  }
  .red{
    background-color: rgb(255, 0, 0);
  }
  ol, ul, li{
    padding: 0;
    margin: 0;
  }